html {
    height: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100%;

    * {
        box-sizing: inherit;
    }
}

main {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}