body {
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

main {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    margin-top: 30vh;

    @media (max-width: 800px) {
        margin-top: 10vh;
    }
}

.text-center {
    text-align: center;
}