$font-size-huge: 4rem;
$font-size-large: 2.66667rem;
$font-size-big: 1.66667rem;
$font-size-normal: 1rem; // 18px

$serif-stack: Merriweather, serif;
$sans-serif-stack: Lato, sans-serif;

html, body {
  font-family: $serif-stack;
  font-weight: 300;
  font-size: 18px;
  color: $black;
  line-height: 120%;
}

.headline {
  font-family: $sans-serif-stack;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 0;
  margin-top: 1rem;
}

h1 {
  font-size: $font-size-huge;
}

h2 {
  font-size: $font-size-large;
}

h3 {
  font-size: $font-size-big;
}

a {
  color: $black;
  &:visited {
    color: $black;
  }
}

.text-large {
  font-size: $font-size-large;
}

.text-gradient {
  display: inline-block;
  color: $accent-green;
  @supports((background-clip: text) or (-webkit-background-clip: text)) {
      background-image: linear-gradient(to right top, $accent-green, $accent-blue);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; 
  }
}
